.about {
    &__container {
        max-width: 850px;
        margin-left: 150px;

        @media (max-width: 1000px) {
            margin-left: 50px;
        }
    }
}

.item-about {
    &__title {
        padding: 5px;
        border-bottom: 2px solid $elementsColor;
        margin-bottom: 50px;

        & h1 {
            font-size: 36px;
            font-family: $fontRegular;
        }
    }

    &__text {
        font-size: 24px;
        font-family: $fontLight;
        margin-bottom: 250px;
    }
}