.create {
    &__container {
        margin-left: 120px;
    }
}


.item-create {
    &__title {
        padding: 5px;
        border-bottom: 2px solid $elementsColor;
        margin-bottom: 50px;
        max-width: 350px;

        & h1 {
            font-size: 36px;
            font-family: $fontRegular;
        }
    }


    &__imageTitle,
    &__nameTitle,
    &__categoryTitle,
    &__timeTitle,
    &__bidTitle,
    &__priceTitle,
    &__phoneTitle {
        margin-bottom: 20px;

        & h2 {
            font-size: 28px;
            font-family: $fontRegular;
        }
    }

    &__imageBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        max-width: 850px;
        background: $divBackgroundColor;
        border: 3px dashed $elementsColor;
    }

    &__imageIcon {
        padding: 20px;
        border: 2px solid $elementsColor;
    }

    &__imageButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 24px;
        font-family: $fontRegular;
        margin: 15px 150px;

        & a {
            text-decoration: none;
            color: $whiteColor;
        }
    }

    &__imageText {
        font-size: 24px;
        font-family: $fontLight;
        text-align: center;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__nameInput,
    &__priceInput,
    &__phoneInput {
        max-width: 350px;

        & input {
            width: 100%;
            height: 100%;
            background: $divBackgroundColor;
            box-shadow: none;
            border: 1px solid $divBackgroundColor;
            border-radius: 5px;
            padding: 5px;
            outline: none;
            font-size: 22px;
            font-family: $fontLight;
            color: $whiteColor;

            &::-webkit-input-placeholder {
                color: #dadada;
            }
        }
    }

    &__categoryList {
        max-width: 300px;

        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            & li {
                margin: 20px 0;
                padding: 5px;
                border-bottom: 2px solid $whiteColor;

                & a {
                    text-decoration: none;
                    color: $fontColor;
                    font-size: 22px;
                    font-family: 'Roboto-Light';


                    &:hover {
                        color: rgb(155, 155, 155);
                    }

                    &:active {
                        color: $elementsColor;
                    }
                }
            }
        }
    }

    &__timeBlock {
        max-width: 350px;
        display: flex;
        justify-content: space-between;
    }


    &__firstBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background: transparent;
        border: 2px solid $whiteColor;

        &:hover {
            border-color: $elementsColor;
        }

        & a {
            text-decoration: none;
            color: $whiteColor;
            font-family: $fontRegular;
        }
    }

    &__descriptionInput {
        max-width: 350px;
        height: 200px;

        & textarea {
            width: 100%;
            height: 100%;
            background: $divBackgroundColor;
            box-shadow: none;
            border: 1px solid $divBackgroundColor;
            border-radius: 5px;
            padding: 5px;
            outline: none;
            font-size: 22px;
            font-family: $fontLight;
            color: $whiteColor;

            &::-webkit-input-placeholder {
                color: #dadada;
            }
        }
    }

    &__createButton {
        max-width: 350px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 24px;
        font-family: $fontRegular;
        margin: 40px 0 60px;

        & a {
            text-decoration: none;
            color: $whiteColor;
        }
    }
}